@import './base.css';

/* STYLES FROM HomeEditor.vue */

main {
  position: relative;

  overflow: hidden;
  width: 100%;
  height: 100vh;

  /* CanvasArea should display at the center/center of main */
  /* TODO - is this right? */
  display: flex;
  justify-content: center;
  align-items: center;
}

#CanvasArea {
  position: relative;
  width: var(--canvasWidth);
  height: var(--canvasHeight);
}

.AnchorDiv {
  position: absolute;  
  /*width: auto;*/
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  /*-webkit-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
}

/* END - STYLES FROM HomeEditor.vue */

/* WIDGETS CSS */

.Widget {
  position: absolute;
}

.NodeWidget {
  /* position: absolute;   */
  width: 0px;
  height: 0px;
}

.RectWidget {
  background-color: lightblue;
}

.TextWidget {
  /* Preserve the user's whitespace but also wrap as needed */
  white-space: pre-wrap;
  overflow: visible;
  min-height: 1em;
}

.ImageWidget {
  /* background-color: lightblue; */
  position: relative;
}

.ImageWidget img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.DisabledLink {
  pointer-events: none;
}

/* END - WIDGETS CSS */

/* OTHER UTILS */

.PageHeader {
  margin-bottom: var(--space-m);
}

.StdInput {
  margin-bottom: var(--space-xs);
}

.InputLabel {
  color: var(--main-text);
  font-size: var(--small-size);
}

.FormFieldName {
  margin-top: var(--space-s);
  margin-bottom: var(--space-xxs);
}

.FormFieldName:first-child {
  margin-top: 0;
}

.FormFieldNameWithInfo {
  margin-top: var(--space-s);
}

.FormFieldNameWithInfo:first-child {
  margin-top: 0;
}

.FormFieldInfo {
  margin-bottom: var(--space-xxs);
  font-size: var(--small-size);
  color: var(--mute-text);
}

.FormFieldItem {
  margin-top: var(--space-s);
}

.DisclosureBody {
  margin-top: var(--space-xs);
}

.CodeBlock {
  /*background-color: var(--input-bg);*/
  padding: var(--space-s);
  border: 1px solid var(--main-text);
  border-radius: var(--border-radius-med);
  font-family: monospace;
  font-size: var(--p-size);
  /* white-space: pre-wrap; */
  /* I'm not sure how to get this working right for mobile, so use pre-wrap for now */
  white-space: pre-wrap;
  overflow-x: scroll;
}

.v-toast__item {
  /* padding: 100px; */
  padding: 0;
}

.v-toast__text {
  color: var(--main-text);
}

/* END - OTHER UTILS */