/* color palette from <https://github.com/vuejs/theme> */
/*
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}
*/

/* semantic color variables for this project */
:root {
  /* --main-bg: rgb(249, 234, 220); */
  /* --main-text: rgb(0, 0, 0); */
  /*
  --main-bg: rgb(252, 252, 252);
  --main-text: rgb(50, 50, 50);
  --mute-text: rgb(80, 80, 80);
  --very-mute-text: rgb(120, 120, 120);
  --link-hover-bg: rgba(127, 127, 127, 0.4);
  --nice-red: rgb(215, 46, 36);
  --bright-red: rgb(255, 46, 46);
  --text-button-hover: var(--nice-red);
  --light-text-bg: rgb(150, 150, 150, 0.5);
  --help-btn: rgb(46, 36, 215);
  --bright-help-btn: rgb(46, 36, 255);
  */

  color-scheme: dark;
  --main-text: rgb(247, 248, 235);
  --main-bg: rgb(20, 29, 22);
  --popup-text: var(--main-text);
  --popup-bg: rgb(52, 69, 56);
  --input-text: var(--main-text);
  --input-bg: rgb(67, 89, 73);
  --mute-text: rgb(10, 10, 10);
  --very-mute-text: rgb(217, 218, 205);
  --link-hover-bg: rgba(127, 127, 127, 0.4);
  --nice-red: rgb(215, 46, 36);
  --bright-red: rgb(245, 49, 0);
  --text-button-hover: var(--nice-red);
  --light-text-bg: rgb(150, 150, 150, 0.5);
  --help-btn: rgb(46, 36, 215);
  --bright-help-btn: rgb(46, 36, 255);

  --feed-tile-width: 180px;
  --feed-tile-height: 140px;

  --space-xs: 8px;
  --space-s: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 48px;
  --space-xxl: 80px;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /*font-weight: normal;*/
}

html {
  /* Always show the y scroll-bar, to prevent reflow on scrollbar show/hide */
  overflow-y: scroll;
}

body {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--main-text);
  background: var(--main-bg);
  transition: color 0.5s, background-color 0.5s;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /*font-size: 15px;*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  /*
  This is a fix for the body scrolling behind the modal, on mobile.
  See: https://stackoverflow.com/questions/9538868/prevent-body-from-scrolling-when-a-modal-is-opened

  BasicModal.vue adds/removes the modal-open class to the body.
  */
  body.modal-open {
    position: fixed;
    overflow: hidden;
  }
}

