/*
@font-face {
  font-family: BebasNeue;
  src: url(BebasNeue-Regular.ttf);
}
*/

/*
@font-face {
  font-family: SpaceMono;
  src: url(SpaceMono/SpaceMono-Regular.ttf);
}
*/

:root {
  /* Dark theme */
  color-scheme: dark;
  --primary-color-h: 166;
  --primary-color-s: 50%;
  --primary-color-l: 90%;

  --primary-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
  --darkest-color: hsl(var(--primary-color-h), 0%, 2%);
  --dark-color: hsl(var(--primary-color-h), 0%, 8%);
  --med-dark-color: hsl(var(--primary-color-h), 0%, 18%);
  --medium-color: hsl(var(--primary-color-h), 0%, 22%);
  --light-color: hsl(var(--primary-color-h), 0%, 65%);
  --lightest-color: hsl(var(--primary-color-h), 0%, 90%);
  --white-color: hsl(0, 0%, 100%);

  /* --nice-red: rgb(215, 46, 36); */
  --bright-red: rgb(245, 49, 0);
  --nice-red: var(--bright-red);
  /* --brand-color-b: hsla(182, 100%, 55%, 1); */
  /* --brand-color: var(--nice-red); */

  /* Good ones: cyan */
  --brand-color-purple: fuchsia;
  /* --brand-color-purple: DeepPink; */
  --brand-color-yellow: yellow;
  --brand-color-green: green;
  --brand-color-cyan: cyan;

  --brand-color: var(--brand-color-purple);
  --brand-color-a: var(--brand-color);
  --brand-color-b: var(--brand-color-yellow);
  --brand-color-c: var(--brand-color-green);

  /* Note: Safari/WebKit does not support this shorthand */
  /* --brand-underline-title: underline solid DeepPink 4px; */
  /* --brand-underline-headers: underline solid var(--brand-color-yellow) 2px; */

  --attn-color: var(--brand-color-purple);

  --header-text: var(--white-color);
  /* --main-text: var(--lightest-color); */
  --main-text: var(--white-color);
  --secondary-text: var(--lightest-color);
  --main-bg: var(--darkest-color);
  --popup-text: var(--main-text);
  /* --popup-bg: var(--dark-color); */
  --popup-bg: var(--darkest-color);
  --input-text: var(--main-text);
  --input-bg: var(--medium-color);
  --mute-text: var(--light-color);
  --very-mute-text: var(--medium-color);
  --text-button-hover: var(--brand-color-purple);
  /* --button-icon-inverse: var(--main-bg); */
  /* --button-icon-inverse: RebeccaPurple; */
  --button-icon-inverse: DeepPink;

  --space-zero: 0px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 48px;
  --space-xxl: 80px;

  /* --p-size: 1rem; */
  --p-size: 20px;
  --h4-size: 24px;
  --h3-size: 32px;
  --h2-size: 36px;
  --h1-size: 72px;
  --small-size: 18px;
  --smaller-size: 16px;
  --extra-small: 14px;

  --main-line-height: 1.6;

  --bold-weight: 700;

  /* --pane-border: 1px solid grey; */
  --pane-border: 1px solid var(--medium-color);
  --pane-border-radius: 4px;

  --popup-border: 1px solid grey;
  --popup-border-radius: 4px;

  --border-radius-smaller: 2px;
  --border-radius-small: 4px;
  --border-radius-med: 6px;
  --border-radius-large: 8px;

  --br-xs: 2px;
  --br-s: 4px;
  --br-m: 6px;
  --br-l: 8px;
  --br-xl: 12px;

  /* --header-font: sans-serif; */
  /* --title-font: var(--header-font); */
  --main-font: monospace;
  /* --main-font: sans-serif; */
  --header-font: sans-serif;
  /*--title-font: BebasNeue, sans-serif;*/
  --title-font: sans-serif;
  --popup-title-font: var(--title-font);

  /* --link-list-border: 1px solid var(--brand-color-yellow); */
  --link-list-border: 1px solid var(--brand-color-yellow);

  /* --feed-tile-width: 180px; */
  /* --feed-tile-height: 140px; */

  --box-shadow-front: 0px 4px 8px hsl(0, 0%, 38%);
  /*
  --box-shadow-mid: 0px 4px 8px hsl(0, 0%, 40%);
  --box-shadow-back: 0px 4px 8px hsl(0, 0%, 40%);
  */

  /* For iOS safe area */
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}

@media (max-width: 768px) {
  /* Update sizes for mobile */
  :root {
    --p-size: 18px;
    --h4-size: 20px;
    --h3-size: 22px;
    --h2-size: 28px;
    --h1-size: 42px;
    --small-size: 16px;
    --smaller-size: 14px;
    --extra-small: 12px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /*font-weight: normal;*/
}

html {
  /* Always show the y scroll-bar, to prevent reflow on scrollbar show/hide */
  overflow-y: scroll;
}

body {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--main-text);

  background: var(--main-bg);
  /* background: brown; */
  /* background: var(--main-bg); */
  /* background-image: url(JungleBgV2.jpg); */

  /* transition: color 0.5s, background-color 0.5s; */
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: var(--main-font);
  font-size: var(--p-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  body {
    /* background-image: none; */
  }

  /*
  This is a fix for the body scrolling behind the modal, on mobile.
  See: https://stackoverflow.com/questions/9538868/prevent-body-from-scrolling-when-a-modal-is-opened

  BasicModal.vue adds/removes the modal-open class to the body.
  */
  body.modal-open {
    position: fixed;
    overflow: hidden;
  }
}


