@import './base.css';

:root {
  --button-border-radius: 6px;
}

button {
  min-width: 100px;
  padding: 5px 10px;
  /*margin: 4px 0px;*/
  background: none;
  color: var(--main-text);
  border: 2px solid var(--main-text);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
}

button:hover, button:active {
  background-color: var(--main-text);
  color: var(--main-bg);
}

/* No need for a different PrimaryButton for now */
/*
.PrimaryButton {
}

.PrimaryButton:hover, .PrimaryButton:active {
}
*/

/* Aka tertiary button */
.SmallButton {
  border: none;
  border-radius: 4px;
  padding: 2px;
  margin: 5px 0px;
  min-width: 20px;
  /* line-height: 1rem; */
}

.SmallButton:hover, .SmallButton:active {
  background-color: var(--main-text);
  color: var(--main-bg);
}

.DeleteButton {
  text-decoration: underline;
  /* padding: 5px 10px; */
  /* border: 1px solid var(--main-text); */
}

.DeleteButton:hover {
}

.LinkButton {
  text-decoration: underline;
  font-weight: 600;
}

/* For adding to a text div that is supposed to respond to @click */
.TextButton {
  background: none;
  border: none;
  padding: 0;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1em;
}

.TextButton:hover, .TextButton:active {
  color: var(--text-button-hover);
}

/*
Also, for adding to a text div that is supposed to respond to @click.
Does not alter the other styles of the element.
*/
.MockButton {
  user-select: none;
  cursor: pointer;
}

.MockButton:hover, .MockButton:active {
  color: var(--text-button-hover);
}

