@import './base.css';
@import './utils.css';
@import './buttons.css';
@import './reader.css';

:root {
}

/*
Disable double-tap to globally on mobile. It causes a lot of problems with buttons
like menu show/hide.
See: https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices
*/
* {
  touch-action: manipulation;
}

#app {
  margin: 0 auto;
  /*padding: 2rem;*/
  /*font-weight: normal;*/
}

/* Prevent flashes on tap on mobile */
/* https://stackoverflow.com/questions/6211959/html5-div-flashes-on-tap */
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p {
  line-height: var(--main-line-height);
  font-size: var(--p-size);
  color: var(--secondary-text);
}

h1, h2, h3, h4 {
  font-family: var(--header-font), sans-serif;
  font-weight: var(--bold-weight);
  color: var(--header-text);

  text-decoration: var(--brand-underline-headers);
}

h1 {
  font-size: var(--h1-size);
  line-height: 1.1;
  letter-spacing: -2px;
}

h2 {
  font-size: var(--h2-size);
  line-height: 1.2;
  /* letter-spacing: -1px; */
}

h3 {
  font-size: var(--h3-size);
  line-height: 1.4;
  /* letter-spacing: -1px; */
}

h4 {
  font-size: var(--h4-size);
  line-height: 1.6;
}

b {
  font-weight: var(--bold-weight);
}

a {
  color: var(--main-text);
}

@media (hover: hover) {
  a:hover {
    color: var(--main-bg);
    background-color: var(--main-text);
  }
}

a:active {
  color: var(--main-bg);
  background-color: var(--main-text);
}

a .Icon {
  color: var(--brand-color-yellow);
}

@media (hover: hover) {
  a:hover .Icon {
    color: var(--button-icon-inverse);
  }
}

a:active .Icon {
  color: var(--button-icon-inverse);
}

/* Note: if need to set a small min-width, set the <input size="1" .../>. Default size is large and overrides min-width */
/* See: https://stackoverflow.com/questions/29470676/why-doesnt-the-input-element-respect-min-width */
.BasicTextInput {
  display: block;
  padding: 4px;
  /* margin: 5px 0; */
  /* border: 1px solid var(--light-color); */
  border: none;
  border-radius: var(--border-radius-smaller);
  font-size: var(--p-size);
  background-color: var(--input-bg);
}

input[type="text"], textarea {
  background-color: var(--input-bg); 
}

select {
  font-size: var(--p-size);
  /* color: var(--main-text); */
  background-color: var(--input-bg);
  border: none;
  border-radius: var(--border-radius-smaller);
  padding: 4px;
  min-width: 12ch;
  max-width: 30ch;
}

