@import './base.css';
/*@import './reader.css';*/

:root {
}

#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  /*font-weight: normal;*/
}

b {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--main-text);
  transition: 0.2s;
}

button {
  min-width: 100px;
  padding: 5px 10px;
  /*margin: 4px 0px;*/
  background: none;
  color: var(--main-text);
  border: 2px solid var(--main-text);
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
}

button:hover {
  background-color: var(--main-text);
  color: var(--main-bg);
}

.CodeBlock {
  /*background-color: var(--input-bg);*/
  padding: 10px;
  border: 2px solid var(--main-text);
  border-radius: 5px;
  font-family: monospace;
  font-size: 1rem;
  white-space: pre;
}

.TextButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1em;
}

.TextButton:hover {
  color: var(--text-button-hover);
}

.SmallButton {
  border: none;
  padding: 0px;
  margin: 0px;
  min-width: 20px;
  line-height: 1rem;
}

.LinkButton {
  text-decoration: underline;
  font-weight: 600;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--link-hover-bg);
  }
}

/*
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/

/* For text you don't want to get highlighted when
it gets clicked. Say if using for a button
*/
.NoSelect {
  user-select: none;
}

.TextButton {
  user-select: none;
  cursor: pointer;
}

.MockButton {
  user-select: none;
  cursor: pointer;
}

.Block {
  display: block;
}

/*
.DraggedItem {
  background-color: green;
}
*/

.DraggedChosenItem {
  background-color: var(--color-link-hover);
}

.FeatherIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Flex {
  display: flex;
}

.MarginLeft {
  margin-left: 15px;
}

.MarginTop {
  margin-top: 10px;
}

.DeleteButton {
  background-color: var(--nice-red);
  border-color: var(--nice-red);
  color: var(--main-text);
}

.DeleteButton:hover {
  background-color: var(--bright-red);
  border-color: var(--bright-red);
  color: var(--main-text);
}

.HelpButton {
  background-color: var(--help-btn);
  border-color: var(--help-btn);
  color: var(--main-bg)
}

.HelpButton:hover {
  background-color: var(--bright-help-btn);
  border-color: var(--bright-help-btn);
}

.FormFieldName {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 10px;
}

.BasicTextInput {
  display: block;
  padding: 5px;
  /* margin: 5px 0; */
  /*border: 1px solid var(--main-text);*/
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--input-bg);
}

input[type="text"], textarea {
  background-color: var(--input-bg); 
}

select {
  font-size: 1rem;
  background-color: var(--input-bg);
  /*border: 1px solid var(--mute-text);*/
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  min-width: 18ch;
  max-width: 30ch;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1.75;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.5;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.25;
}

.Italic {
  font-style: italic;
}

.Bold {
  font-weight: bold;
}

