@import './base.css';

.PageHeader {
  margin-bottom: var(--space-m);
}

.FormFieldName {
  margin-top: var(--space-s);
  margin-bottom: var(--space-xxs);
}

.FormFieldName:first-child {
  margin-top: 0;
}

.FormFieldNameWithInfo {
  margin-top: var(--space-s);
}

.FormFieldNameWithInfo:first-child {
  margin-top: 0;
}

.FormFieldInfo {
  margin-bottom: var(--space-xxs);
  font-size: var(--small-size);
  color: var(--mute-text);
}

.FormFieldItem {
  margin-top: var(--space-s);
}

.DisclosureBody {
  margin-top: var(--space-xs);
}

.CodeBlock {
  /*background-color: var(--input-bg);*/
  padding: var(--space-s);
  border: 1px solid var(--main-text);
  border-radius: var(--border-radius-med);
  font-family: monospace;
  font-size: var(--p-size);
  /* white-space: pre-wrap; */
  /* I'm not sure how to get this working right for mobile, so use pre-wrap for now */
  white-space: pre-wrap;
  overflow-x: scroll;
}

.UnreadIcon {
  --width: 24px;
  position: absolute;
  z-index: 1;
  width: var(--width);
  height: var(--width);
  top: calc(var(--width) * -0.5);
  right: calc(var(--width) * -0.5);
  background-color: var(--nice-red); 
  border-radius: calc(var(--width) / 2);

  /*
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  */
}

.Asterisk {
  /*
  height: 100%;
  font-size: var(--p-size);
  font-weight: var(--bold-weight);
  color: var(--main-text);
  line-height: 36px;
  transform: rotate(20deg);
  */
}

.v-toast__item {
  /* padding: 100px; */
  padding: 0;
}

.v-toast__text {
  color: var(--main-text);
}

