@import './base.css';

:root {
  --space-form-field: var(--space-s);
  --form-font-size: var(--small-size);
}

/*
@font-face {
  font-family: OldLondon;
  src: url(OldLondon.ttf);
}
*/

.PageHeader {
  margin-bottom: var(--space-s);
  text-decoration: var(--brand-underline-title);
  /* text-decoration: underline solid var(--main-text) 4px; */
  /* text-underline-offset: 12px; */

  /* text-decoration: none; */
  /* color: Fuchsia; */
  /* font-family: monospace; */
  /* text-transform: uppercase; */
  font-family: var(--title-font);
}

.PlainHeader {
  text-decoration: none;
}

.FormFieldName {
  margin-top: var(--space-form-field);
  margin-bottom: 2px;
  font-size: var(--form-font-size);
}

.FormFieldName:first-child {
  margin-top: 0;
}

.FormFieldNameWithInfo {
  margin-top: var(--space-form-field);
  font-size: var(--form-font-size);
}

.FormFieldNameWithInfo:first-child {
  margin-top: 0;
}

.FormFieldInfo {
  margin-bottom: var(--space-xxs);
  font-size: var(--smaller-size);
  color: var(--mute-text);
}

.FormFieldInfoUnder {
  margin-top: var(--space-xxs);
  font-size: var(--smaller-size);
  color: var(--mute-text);
}

.FormFieldItem {
  margin-top: var(--space-s);
}

.DisclosureBody {
  margin-top: var(--space-xs);
}

.EmphasisText {
  color: var(--main-text);
}

.AlertPane {
  padding: var(--space-s) var(--space-m);
  background-color: var(--dark-color);
  border: 1px solid var(--main-text);
  border-radius: 6px;
}

.CodeBlock {
  /*background-color: var(--input-bg);*/
  padding: var(--space-s);
  border: 1px solid var(--main-text);
  border-radius: var(--border-radius-med);
  font-family: monospace;
  font-size: var(--p-size);
  /* white-space: pre-wrap; */
  /* I'm not sure how to get this working right for mobile, so use pre-wrap for now */
  white-space: pre-wrap;
  overflow-x: scroll;
}

.Asterisk {
  /*
  height: 100%;
  font-size: var(--p-size);
  font-weight: var(--bold-weight);
  color: var(--main-text);
  line-height: 36px;
  transform: rotate(20deg);
  */
}

.v-toast__item {
  /* padding: 100px; */
  padding: 0;
}

.v-toast__text {
  color: var(--main-text);
}

